@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i");
body {
  background-image: url("../images/background-picture.jpg");
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  background-size: 100%; }

p {
  line-height: 24px;
  font-size: 13px;
  text-align: justify;
  color: #283238; }

button {
  border: none;
  font-weight: 400; }
  button:focus {
    outline: none; }

h2 {
  margin: 0;
  color: #444444;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 65px; }

select {
  cursor: pointer; }
  select:focus {
    outline: none; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.index-page {
  padding-top: 41px;
  padding-bottom: 233px; }
  .index-page .index-header {
    height: 36px; }
    .index-page .index-header .about-us {
      float: left;
      margin-top: 12px;
      margin-left: 12%; }
    .index-page .index-header .sign-in {
      float: left;
      border: 2px solid #8BC34A;
      border-radius: 100px;
      color: #8BC34A;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 16px;
      padding: 9px 15px;
      background: none;
      margin-left: 36px;
      cursor: pointer; }

.hapo-erp-box {
  margin-top: 180px; }
  .hapo-erp-box img {
    display: block;
    margin: auto; }

.index-icon-row, .index-model-row {
  margin-top: 53px;
  height: 52px; }

.icon-main-layout {
  height: 100%;
  width: 50%;
  margin: auto; }

.single-icon-layout, .single-model-layout {
  float: left;
  height: 100%;
  width: 33%;
  text-align: center;
  color: #283238;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 48px;
  font-family: themify; }

.single-model-layout {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: normal; }

.index-slogan {
  color: #283238;
  font-size: 17.5px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin-top: 53px; }

.index-model-row {
  height: 48px;
  margin-top: 12px; }

.index-button-layout {
  margin-top: 22px;
  text-align: center; }

.start-now-button {
  border-radius: 100px;
  background: -webkit-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(138.88deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 21px;
  padding: 15px 47px; }
  .start-now-button:hover {
    background: -webkit-linear-gradient(138.88deg, #429321 0%, #B4EC51 100%);
    background: -o-linear-gradient(138.88deg, #429321 0%, #B4EC51 100%);
    background: linear-gradient(311.12deg, #429321 0%, #B4EC51 100%); }

.title-icon {
  float: left;
  color: #444444;
  font-family: themify;
  font-size: 36px;
  line-height: 36px; }

.description {
  color: #283238;
  font-size: 13.5px;
  font-weight: 400;
  font-style: italic;
  line-height: 19px; }

.list-bullet-icon {
  color: #8BC34A;
  font-family: themify;
  font-size: 18px;
  line-height: 24px;
  text-align: justify; }

.clear {
  clear: both; }

.main-box {
  padding-bottom: 101px; }
  .main-box .title-icon {
    margin-top: 14px; }
  .main-box .title-name {
    margin-left: 15px;
    float: left; }
  .main-box .description {
    margin-top: 15px; }
  .main-box .task-box .long-paragraph {
    margin-top: 25px; }
  .main-box .task-box .short-para-line-box {
    position: relative;
    height: 50px;
    margin-top: 17px; }
    .main-box .task-box .short-para-line-box .list-bullet-icon {
      float: left; }
    .main-box .task-box .short-para-line-box p {
      float: left;
      font-size: 12.3px;
      width: 90.5%;
      line-height: 21px;
      margin-top: 2px;
      margin-left: 10px; }
  .main-box .pos-button {
    margin-top: -55px; }

.today-main-box {
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .today-main-box .title {
    margin-top: 100px;
    height: 58px; }
  .today-main-box .task-box {
    margin-top: 0px; }
  .today-main-box img {
    margin-top: -80px;
    width: 100%; }

.daily-main-box .title {
  margin-top: 100px;
  height: 58px; }

.daily-main-box img {
  margin-top: -90px;
  width: 100%; }

.oval {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 109.5px;
  width: 109.5px;
  border: 2px solid #FFFFFF;
  border-radius: 50%; }

.mini-icon-rectangle {
  width: 50%;
  font-size: 37px;
  color: #FFFFFF; }

.oval-mini {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45.5px;
  width: 45.5px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background-color: #7CB342; }

.task-list-name {
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center; }

.mini-number-rectangle {
  width: 70%;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF; }

.task-list-banner {
  padding-top: 69px;
  padding-bottom: 144px;
  background: -webkit-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: -o-linear-gradient(135deg, #B4EC51 0%, #429321 100%);
  background: linear-gradient(315deg, #B4EC51 0%, #429321 100%); }
  .task-list-banner .oval-main-box {
    height: 109.5px;
    padding-left: 16.5%;
    padding-right: 16.5%; }
    .task-list-banner .oval-main-box .oval-small-box {
      position: relative;
      float: left;
      height: 100%;
      width: 20%;
      margin: auto; }
      .task-list-banner .oval-main-box .oval-small-box:focus {
        outline: none; }
      .task-list-banner .oval-main-box .oval-small-box .oval {
        margin: auto; }
        .task-list-banner .oval-main-box .oval-small-box .oval .mini-icon-rectangle {
          margin-top: 28%;
          margin-left: 25%;
          text-align: center; }
      .task-list-banner .oval-main-box .oval-small-box .oval-mini {
        margin: auto;
        margin-top: -24px; }
        .task-list-banner .oval-main-box .oval-small-box .oval-mini .mini-number-rectangle {
          margin-top: 16%;
          margin-left: 15%; }
      .task-list-banner .oval-main-box .oval-small-box .task-list-name {
        margin-top: 11px; }

.members-main-box {
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .members-main-box .title {
    margin-top: 100px;
    height: 58px; }
  .members-main-box img {
    margin-top: -100px;
    margin-left: 50px;
    width: 90%; }
  .members-main-box .pos-button {
    margin-top: -58px; }

.our-customer-box {
  height: 544px;
  padding-top: 50px;
  background-image: url("../images/background-picture-2.jpg"); }
  .our-customer-box .our-customer {
    position: relative;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 300;
    line-height: 63px;
    text-align: center; }
  .our-customer-box .small-our-customer-box {
    height: 150px;
    margin: auto;
    margin-top: 28px; }
    .our-customer-box .small-our-customer-box .mini-our-customer-box {
      float: left;
      padding-top: 20px; }
      .our-customer-box .small-our-customer-box .mini-our-customer-box:focus {
        outline: none; }
      .our-customer-box .small-our-customer-box .mini-our-customer-box .customer-content {
        border-radius: 50%;
        margin: auto;
        height: 150px;
        width: 80px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .our-customer-box .small-our-customer-box .mini-our-customer-box .customer-content:hover {
          cursor: pointer;
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
        .our-customer-box .small-our-customer-box .mini-our-customer-box .customer-content .customer-name {
          position: relative;
          color: #FFFFFF;
          font-size: 13px;
          font-weight: 300;
          line-height: 13px;
          text-align: center;
          margin-left: 5px;
          margin-top: 16px; }
        .our-customer-box .small-our-customer-box .mini-our-customer-box .customer-content .customer-job {
          position: relative;
          color: #FFFFFF;
          font-size: 10px;
          font-weight: 300;
          line-height: 13px;
          text-align: center;
          margin-top: 2px; }
  .our-customer-box .customer-comment {
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    text-align: justify;
    margin: auto;
    margin-top: 90.5px; }
    .our-customer-box .customer-comment .quote-icon, .our-customer-box .customer-comment .open-quote-icon, .our-customer-box .customer-comment .close-quote-icon {
      opacity: 0.4;
      color: #FFFFFF;
      font-family: themify;
      font-size: 72px;
      line-height: 73px;
      text-align: justify;
      position: absolute; }
    .our-customer-box .customer-comment .open-quote-icon {
      margin-top: -63px;
      margin-left: -100px; }
    .our-customer-box .customer-comment .close-quote-icon {
      margin-left: 100%;
      margin-top: -28px; }
    .our-customer-box .customer-comment p {
      font-size: 18px;
      line-height: 30px;
      color: #FFFFFF; }

.slick-dots li {
  height: 11px;
  width: 11px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 11px; }
  .slick-dots li button {
    visibility: hidden; }

.slick-dots .slick-active {
  background-color: #FFFFFF; }

.footer {
  height: 180px;
  border: 1px solid #ECEFF1;
  background-color: #39474E;
  -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1); }
  .footer .big-footer-text {
    height: 29px;
    width: 96px;
    position: absolute;
    margin-top: 50px; }
    .footer .big-footer-text img {
      width: 100%; }
  .footer .small-footer-title {
    font-size: 13px;
    color: #8BC34A;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    margin-top: 54px; }
  .footer .small-footer-text {
    color: #D0D8DC;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    position: absolute;
    margin-top: 86px; }
    .footer .small-footer-text a {
      color: #D0D8DC; }
      .footer .small-footer-text a:hover {
        color: #8BC34A; }
  .footer .footer-icon-box {
    float: left;
    color: #8BC34A;
    font-family: themify;
    font-size: 13px;
    line-height: 13px;
    margin-top: 108px; }

@media screen and (max-width: 1500px) {
  .index-page {
    padding-bottom: 200px; }
    .index-page .hapo-erp-box {
      margin-top: 40px; }
    .index-page .index-icon-row, .index-page .index-model-row {
      margin-top: 30px; }
    .index-page .index-model-row {
      margin-top: 3px; }
    .index-page .index-slogan {
      margin-top: 25px; } }

@media screen and (max-width: 1199px) {
  .index-page {
    padding-bottom: 80px; }
  .main-box .pos-button {
    margin-top: 10px; }
  .main-box img {
    margin-top: -70px; } }

@media screen and (max-width: 991px) {
  body {
    background-image: url("../images/TB-background.jpg"); }
  .index-page {
    padding-bottom: 100px; }
    .index-page .index-header {
      margin-top: -15px; }
      .index-page .index-header .about-us {
        margin-left: 14%; }
      .index-page .index-header .sign-in {
        margin-left: 23px; }
  .hapo-erp-box {
    margin-top: 30px; }
    .hapo-erp-box img {
      width: 144px; }
  .index-icon-row, .index-model-row {
    margin-top: 40px;
    height: 25px; }
  .icon-main-layout {
    width: 60%; }
  .single-icon-layout, .single-model-layout {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 25px; }
  .index-model-row {
    margin-top: 7px; }
  .single-model-layout {
    font-weight: 300;
    letter-spacing: normal; }
  .index-slogan {
    font-size: 13px;
    margin-top: 15px; }
  .start-now-button {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 13px 27px; }
  .main-box {
    padding-bottom: 50px; }
    .main-box .title {
      height: 48px;
      text-align: center;
      width: 265px;
      margin: auto;
      margin-top: 51px; }
      .main-box .title .title-icon {
        font-size: 30px;
        line-height: 30px;
        margin-top: 11px; }
      .main-box .title .title-name {
        font-size: 36px;
        line-height: 48px;
        margin-left: 13px; }
    .main-box .description {
      text-align: center; }
    .main-box img {
      margin-top: 25px; }
    .main-box .task-box p {
      font-size: 12px;
      line-height: 21px; }
    .main-box .pos-button {
      margin-top: 30px;
      text-align: center; }
  .daily-main-box .task-box {
    margin-top: 0px; }
  .task-list-banner {
    padding-top: 49px;
    padding-bottom: 148px; }
    .task-list-banner .oval-main-box {
      padding: 0; }
      .task-list-banner .oval-main-box .oval-small-box .task-list-name {
        margin-top: 16px; }
  .members-main-box img {
    margin-left: 0;
    width: 100%; }
  .members-main-box .pos-button {
    margin-top: 30px; }
  .our-customer-box .our-customer {
    font-size: 36px;
    line-height: 48px; }
  .our-customer-box .small-our-customer-box {
    margin-top: 10px; }
  .our-customer-box .customer-comment {
    margin-top: 78px; }
    .our-customer-box .customer-comment .open-quote-icon {
      font-size: 64px;
      line-height: 64px;
      margin-left: -60px; }
    .our-customer-box .customer-comment .close-quote-icon {
      font-size: 64px;
      line-height: 64px;
      margin-left: 92%; }
  .slick-dots {
    position: relative;
    margin-top: -35px; }
  .footer {
    height: 209px; }
    .footer .big-footer-text {
      margin-top: 24px; }
    .footer .small-footer-title {
      margin-top: 73px; }
    .footer .small-footer-text {
      margin-top: 104px; }
    .footer .special {
      margin-top: 150px;
      right: 15px; }
    .footer .footer-icon-box {
      margin-top: 168px; } }

@media screen and (max-width: 767px) {
  .index-page {
    padding-top: 20px; }
    .index-page .index-header {
      margin-top: 0px; }
      .index-page .index-header .about-us {
        margin-left: -15%; }
      .index-page .index-header .sign-in {
        margin-left: 10px; }
    .index-page .hapo-erp-box {
      margin-top: 8px; }
      .index-page .hapo-erp-box img {
        width: 96px; }
    .index-page .index-icon-row, .index-page .index-model-row {
      margin-top: 20px;
      height: 18px; }
      .index-page .index-icon-row .icon-main-layout, .index-page .index-model-row .icon-main-layout {
        width: 80%; }
        .index-page .index-icon-row .icon-main-layout .single-icon-layout, .index-page .index-model-row .icon-main-layout .single-icon-layout, .index-page .index-icon-row .icon-main-layout .single-model-layout, .index-page .index-model-row .icon-main-layout .single-model-layout {
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 18px; }
    .index-page .index-model-row {
      margin-top: 7px; }
      .index-page .index-model-row .single-model-layout {
        font-weight: 300; }
        .index-page .index-model-row .single-model-layout span {
          letter-spacing: normal; }
    .index-page .index-slogan {
      font-size: 9px;
      margin-top: 10px; }
    .index-page .start-now-button {
      margin-top: -20px; }
  .start-now-button {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 11px 27px; }
  .main-box {
    padding-bottom: 30px; }
    .main-box .title {
      height: 32px;
      text-align: center;
      width: 190px;
      margin: auto;
      margin-top: 30px; }
      .main-box .title .title-icon {
        font-size: 20px;
        line-height: 20px;
        margin-top: 7px; }
      .main-box .title .title-name {
        font-size: 24px;
        line-height: 32px;
        margin-left: 13px; }
    .main-box .description {
      text-align: center;
      font-size: 13px; }
    .main-box img {
      margin-top: 15px; }
    .main-box .task-box {
      margin-top: 0px; }
      .main-box .task-box p {
        font-size: 12.5px;
        line-height: 21px; }
    .main-box .pos-button {
      margin-top: 10px;
      text-align: center; }
  .daily-main-box .task-box {
    margin-top: -5px; }
  .daily-main-box img {
    margin-top: 5px; }
  .daily-main-box .pos-button {
    margin-top: 20px; }
  .task-list-banner {
    padding-top: 38px;
    padding-bottom: 130px; }
    .task-list-banner .oval-main-box .oval-small-box .task-list-name {
      margin-top: 14px;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: normal; }
    .task-list-banner .slick-dots {
      margin-top: 0px; }
  .members-main-box .task-box {
    margin-top: 20px; }
  .members-main-box img {
    margin-top: 10px;
    margin-left: 0;
    width: 100%; }
  .members-main-box .pos-button {
    margin-top: 30px; }
  .customer-main-box .task-box {
    margin-top: 10px; }
  .our-customer-box {
    padding-top: 25px;
    height: 525px; }
    .our-customer-box .our-customer {
      font-size: 24px;
      line-height: 32px; }
    .our-customer-box .small-our-customer-box {
      margin-top: 15px; }
    .our-customer-box .customer-comment {
      margin-top: 78px; }
      .our-customer-box .customer-comment .open-quote-icon {
        font-size: 48px;
        line-height: 48px;
        margin-left: 0px;
        margin-top: -50px; }
      .our-customer-box .customer-comment .close-quote-icon {
        font-size: 48px;
        line-height: 48px;
        margin-left: 82%;
        margin-top: -20px; }
      .our-customer-box .customer-comment p {
        font-size: 14px; } }

@media screen and (max-width: 500px) {
  .index-page {
    padding-bottom: 27px; } }

@media screen and (max-width: 414px) {
  .index-page .index-icon-row, .index-page .index-model-row {
    margin-top: 10px; }
  .index-page .index-model-row {
    margin-top: 5px; }
  .index-page .index-slogan {
    line-height: 15px; } }

@media screen and (max-width: 375px) {
  .index-page {
    padding-top: 10px; }
    .index-page .index-header {
      margin-top: 0px; }
      .index-page .index-header .about-us {
        margin-left: -25%; }
      .index-page .index-header .sign-in {
        margin-left: 10px; }
    .index-page .index-icon-row, .index-page .index-model-row {
      margin-top: 10px; }
    .index-page .index-model-row {
      margin-top: 3px; }
    .index-page .index-slogan {
      line-height: 10px; } }

/*# sourceMappingURL=style.css.map */