@media screen and (max-width: 1024px) {
  /*Something code*/
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../images/TB-background.jpg");
  }
  .index-page {
    height: 425.2px;
    .index-header {
      margin-top: -15px;
      .about-us {
        margin-left: 14%;
      }
      .sign-in {
        margin-left: 23px;
      }
    }
  }
  .hapo-erp-box {
    margin-top: 30px;
    img {
      width: 144px;
    }
  }
  .index-icon-row {
    margin-top: 40px;
    height: 25px;
  }
  .single-icon-layout {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 25px;
  }
  .index-model-row {
    margin-top: 7px;
  }
  .single-model-layout {
    font-weight: 300;
    letter-spacing: normal;
  }
  .index-slogan {
    font-size: 13.5px;
    margin-top: 15px;
  }
  .start-now-button {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 19px;
    padding: 13px 27px;
  }
  .main-box {
    .title {
      height: 48px;
      text-align: center;
      width: 265px;
      margin: auto;
      margin-top: 51px;
      .title-icon {
        font-size: 30px;
        line-height: 30px;
        margin-top: 11px;
      }
      .title-name {
        font-size: 36px;
        line-height: 48px;
        margin-left: 13px;
      }
    }
    .description {
      text-align: center;
    }
    img {
      margin-top: 25px;
    }
    .task-box {
      margin-top: -253px;
      p {
        font-size: 12.5px;
        line-height: 21px;
      }
    }
    .pos-button {
      margin-top: 30px;
      text-align: center;
    }
  }
  .today-main-box {
    height: 526px;
  }
  .daily-main-box {
    height: 520px;
    .task-box {
      margin-top: 0px;
    }
    img {
      margin-top: -285px;
    }
    .pos-button {
      margin-top: -10px;
    }
  }
  .task-list-banner {
    padding-top: 49px;
    height: 288px;
    .oval-main-box {
      padding-left: 0;
      padding-right: 0;
      .oval-small-box {
        .task-list-name {
          margin-top: 16px;
        }
      }
    }
  }
  .members-main-box {
    height: 557px;
    .task-box {
      margin-top: 57px;
    }
    img {
      margin-top: -245px;
      width: 110%;
    }
    .pos-button {
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  /*Something code*/
}

@media screen and (max-width: 375px) {
  /*Something code*/
}